<html>
  <head>
    <%- include('partial/head.ejs') %>
  </head>
  <body>
    <% if(user.local.userType === 'unconfirmed') { %>
    <div class="container">
      <p>
        Jusu paskyra uzregistruota. Prasome palaukti kol administratorius Jus
        patvirtins.
      </p>
    </div>
    <% } else { %>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profilis</h1>
        <a href="/logout" class="btn btn-default btn-sm">Atsijungti</a>
      </div>

      <hr class="my-4" />

      <div class="row text-break">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <div class="card mb-4 shadow-sm text-center">
            <div class="well">
              <h3><span class="fa fa-user"></span> Vartotojo Informacija</h3>

              <p>
                <strong>Id</strong>: <%= user._id %><br />
                <strong>El. paštas</strong>: <%= user.local.email %><br />
                <strong>Vartotojo Tipas</strong>: <%= user.local.userType %><br />
                <strong><a href="editProfile">Redaguoti profili</a></strong>
              </p>
            </div>
          </div>
        </div>
        <% if(user.local.userType === 'Client') {%>
        <div class="col-sm-6">
          <div class="card mb-4 shadow-sm text-center">
            <div class="well">
              <h3><span class="fa fa-file"></span> Mano Kortos</h3>
              <p>
                <strong><a href="/mycards">Spaustelėkite čia</a></strong>
                <br />
              </p>
            </div>
          </div>
        </div>
        <% } %> <% if(user.local.userType === 'Administrator') {%>
        <div class="col-sm-6">
          <div class="card mb-4 shadow-sm text-center">
            <div class="well">
              <h3><span class="fa fa-inbox"></span> Kortų registravimas</h3>
              <p>
                <strong><a href="/cards/create">Spustelėkite čia</a></strong>
                <br />
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card mb-4 shadow-sm text-center">
            <div class="well">
              <h3>
                <span class="fa fa-inbox"></span> Administratoriaus sasaja
              </h3>
              <p>
                <strong><a href="/admin">Spustelėkite čia</a></strong
                ><br />
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
  </body>
</html>
